<nav class="border-4 border-gray-800 box-shadow bg-gradient-to-r from-zinc-800 to-slate-400">
  <div class="container mx-auto sm:px-4">
    <div>
      <ul class="sm:flex sm:flex-wrap pl-0 mb-0 gap-8">
        <li class="max-sm:border-2 border-black">
          <div>
            <div class="link-container">
              <a class="link-two menuLinks text-4xl" routerLink="/media">Games</a>
            </div>
          </div>
        </li>
        <li class="max-sm:border-2 border-black">
          <div class="link-container">
            <a class="link-two menuLinks text-4xl" routerLink="/home">Anime</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
