.git
.github
.vs
.vscode
.idea
**/bin
**/obj
**/node_modules
**/.angular
**/www
**/dist
artifacts
TestResults
*.user
*.rsuser
*.suo
*.log
.env
src/LuminaPath/App_Data/storage
src/LuminaPath/App_Data/logs
