@if (!isLoading()) {
  <section class="metric-grid">
    @for (metric of metrics(); track trackByMetric($index, metric)) {
      <article class="metric">
        <div class="metric__icon">
          <ion-icon [name]="metric.icon"></ion-icon>
        </div>
        <span>{{ metric.label }}</span>
        <strong>{{ metric.value }}</strong>
        <small>{{ metric.detail }}</small>
      </article>
    }
  </section>
} @else {
  <section class="metric-grid">
    @for (item of loadingSlots; track item) {
      <article class="metric metric--loading">
        <ion-skeleton-text animated></ion-skeleton-text>
      </article>
    }
  </section>
}
