<p-table [value]="medias" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Playtime</th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template #body let-media>
      <tr>
          <td>{{ media.name }}</td>
          <td>{{ media.description }}</td>
          <td>{{ media.playtime }}</td>
          <td>                  
            <div class="w-36 inline px-3 py-1 text-sm md:text-base
            rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60
             dark:bg-gray-800">
            Completed
            </div>
          </td>
          <td>                  
            <div class="w-20 h-1.5 bg-blue-200 overflow-hidden rounded-full">
            <div class="bg-blue-500 w-2/3 h-1.5"></div>
          </div>
        </td>
      </tr>
  </ng-template>
</p-table>