<div>
  @for(key of sortedKeys(); track key){
  <h2 class="px-12 w-full bg-slate-600">{{ formatMonthYear(key) }}</h2>
  <ol role="list" class="grid sm:grid-cols-4 grid-cols-2 gap-2">
    @for(game of GroupedMedia()[key]; track game){
    <li class="bg-slate-800" v-for="media in GroupedMedia[key]" :key="media.id" style="--i: 2; --length: 10">
      <div>
        <div (click)="navigate()">
          <div class="bg-white">
            <img (src)="getImage(game)" class="object-cover h-48 w-96" />
          </div>
          <div class="bg-gray-100 p-3 text-black text-center h3">
            {{ game.name }}
          </div>
        </div>
        <div>
          <ion-fab class="absolute right-2 top-0">
            <ion-fab-button class="" (click)="openModal()" size="small">
              <ion-icon :icon="create"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
    </li>
    }
  </ol>
  }
</div>
<ion-infinite-scroll (ionInfinite)="this.ionInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>