<ion-tabs class="app-tabs">
  <ion-tab-bar slot="bottom" class="floating-tab-bar">
    <ion-tab-button tab="home" routerLink="/home" layout="icon-top">
      <span class="tab-glow"></span>
      <ion-icon class="icon-outline" aria-hidden="true" name="game-controller-outline"></ion-icon>
      <ion-icon class="icon-filled" aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="media" routerLink="/media" layout="icon-top">
      <span class="tab-glow"></span>
      <ion-icon class="icon-outline" aria-hidden="true" name="library-outline"></ion-icon>
      <ion-icon class="icon-filled" aria-hidden="true" name="library"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" routerLink="/library" layout="icon-top">
      <span class="tab-glow"></span>
      <ion-icon class="icon-outline" aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-icon class="icon-filled" aria-hidden="true" name="albums"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quests" routerLink="/quests" layout="icon-top">
      <span class="tab-glow"></span>
      <ion-icon class="icon-outline" aria-hidden="true" name="sparkles-outline"></ion-icon>
      <ion-icon class="icon-filled" aria-hidden="true" name="sparkles"></ion-icon>
      <ion-label>Quests</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
